li {
	color: red;
}
li span {
	color: blue;
}
li uniq {
	color: purple;
}
li pony {
	color: green;
}
h3 {
	font-family: 'Times New Roman', Times, serif;
	 font-size: 200%;
}
h2 {
	font-family: 'Times New Roman', Times, serif;
	 font-size: 200%;
}
h4 {
	font-family: 'Times New Roman', Times, serif;
	 font-size: 200%;
}
p gmo {
	color: crimson;
}
big {
	color: red;
}